/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class], ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class], ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input, button, textarea, select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #4C2481;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    color: #EBD1B7;
    height: 100%;
}

/*стили для фона начало*/
.wrapper-background {
    position: fixed;
    height: 100vh;
}

.img-overlay-left {
    position: absolute;
    width: 2639px;
    height: 2628px;
    margin-left: -1650px;
    margin-top: -1613px;
    background: radial-gradient(50% 50% at 50% 50%, #6131A0 50%, rgba(109, 68, 164, 0.548306) 100%, rgba(97, 49, 160, 0) 99.81%);
}

.img-circle {
    position: absolute;
    width: 464px;
    height: 464px;
    margin-left: 795px;
    margin-top: 32px;
    border-radius: 50%;
    background-color: #5BAFDE;
}

.common-pik-food {
    background: url("./img/background/common-pik-food.png");
    position: absolute;
    width: 638px;
    height: 606px;
    margin-left: 795px;
    margin-top: 42px;
}

.img-overlay-right {
    position: absolute;
    width: 3072px;
    height: 3088px;
    margin-left: -12px;
    margin-top: 426px;
    background: radial-gradient(50% 50% at 50% 50%, #6131A0 50%, rgba(109, 68, 164, 0.548306) 100%, rgba(97, 49, 160, 0) 99.81%);
}


/*стили для фона конец*/
.site-content-holder {
    position: absolute;
}

/*стили тулбар начало*/
.toolbar__list {
    text-transform: capitalize;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-color: transparent;
    width: 100%;
    position: fixed;
}

.toolbar__list a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    width: 144px;
    cursor: pointer;
}

.toolbar__bold {
    font-weight: bold;
}

.toolbar__list a:active {
    font-weight: bold;
}

.toolbar__bold_active {
    background-color: #4C2481;
    z-index: 1;
}

/*стили тулбар конец*/

/*стили корзина начало*/
.mini-cart__content {
    position: fixed;
    top: 27px;
    right: 2%; /*пока поставила такой отступ, доделать*/
    display: flex;
    z-index: 1;
}

.mini-cart__label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-top: 19px;
    margin-right: 17px;
}

.mini-cart__amount {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
    border: 1px solid #EBD1B7;
    box-sizing: border-box;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    vertical-align: middle;
    horiz-align: center;
    cursor: pointer;
}

/*стили корзина конец*/

/*стили корзина (выпадающее окно) начало*/
.cart-dropdown {
    position: fixed;
    height: auto;
    width: 400px;
    min-height: 0;
    display: flex;
    right: 2%; /*подобрать % или px*/
    background-color: #6131A0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    flex-flow: column nowrap;
}

.cart-dropdown__not_show {
    display: none;
}

.product-in-cart {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 0 20px;
    box-shadow: 0 2px 2px -2px #E5E5E5;
}

.cart-dropdown__nn {
    margin-right: 20px;
}

.cart-dropdown__items {
    /* padding: 0 15px;*/
    width: 80px;
}

.cart-dropdown__price {
    width: 80px;
    margin: 0 20px 0 20px; /*возможно надо будет поправить*/
}

.count {
    display: flex;
    width: 60px;
    justify-content: space-between;
}

.count__minus, .count__plus {
    width: 20px;
    height: 20px;
}


.cart__remove {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-left: 50px;
}

.cart-dropdown__bottom {
    border-top: 1px solid #ededf2;
    padding: 14px 15px;
    flex: 0 0 auto;
    align-items: center;
    flex-flow: row nowrap;
}

.cart-dropdown__total_wrap {
    justify-content: space-between;
}

.total {
    margin-left: 95px;
    display: inline-block;
}

/*стили корзина (выпадающее окно) конец*/

/* стили фидбек начало*/
.feedback__content {
    position: fixed;
    right: 2%; /*пока поставила такой отступ, доделать*/
    display: flex;
    background: url("../src/img/frame/frame-feedback.png") no-repeat;
    width: 55px;
    height: 55px;
    top: 90%;
    z-index: 1;
    cursor: pointer;
}

/* стили фидбек конец*/

/*основная информация стили начало*/

.general-info-wrap {
    margin-top: 155px;
}

.general-info-img {
    width: 110px;
    height: 216px;
    background: url("./img/background/ellipse1.png") no-repeat;
    display: inline-block;
    float: left;
}

.title-one {
    font-size: 90px;
    line-height: 80px;
    vertical-align: top;
    padding-left: 150px;
    padding-top: 40px;
}

.title-two {
    font-size: 90px;
    line-height: 80px;
    color: white;
    vertical-align: top;
    padding-left: 150px;
}

.short-title-wrap {
    margin-top: 40px;
}

.short-title {
    font-family: Rufina, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    border-left: 2px solid #EBD1B7; /* Параметры линии */
    margin-left: 170px; /* Отступ слева */
    padding-left: 27px;
    max-width: 560px;
}

.title-all-products {
    margin-top: 180px;
    padding-left: 150px;
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
}

.subtitle-all-products {
    margin-left: 100px;
    display: inline-block;
    border: 2px solid #EBD1B7;
    height: 40px;
    width: 360px;
    box-sizing: border-box;
    border-radius: 10px;
    background: url("./img/frame/Frame-search.png") no-repeat;
    background-position: left;
    background-position-x: 1.5%;
}

.subtitle-all-products input {
    border: none;
    height: 25px;
    background-color: transparent;
    color: #EBD1B7;
    border-left: 2px solid #EBD1B7;
    margin-left: 40px; /*потом поменять размеры, заготовка*/
    padding-left: 12px;
    margin-top: 5px;
    outline: none;
    width: 85%;
    cursor: pointer;
}

input::-webkit-input-placeholder {
    color: #EBD1B7;
}

/*основная информация стили конец*/

/*стили картички продуктов начало*/
.products_wrap {
    max-width: 1200px;
    flex-wrap: wrap;
    display: flex;
    margin: 40px 100px 55px 80px;
}

.position_products {
    flex-direction: row-reverse; /*проверить почему при переключении категории уменьшается ширина блоков*/
}

.products_wrap-info {
    height: 270px;
    width: 50%; /*по итогу проверить ширину при резиновой верстке*/
    display: flex;
    justify-content: space-between;
}

.products-info {
    background-color: white;
    width: 50%; /*при загрузке картинок поменять на мах ширину*/
}

.products-img-wrap {
    background-color: #E5E5E5;
    width: 50%; /*при загрузке картинок поменять на мах ширину*/
    height: auto;
    position: relative;
}

.products-img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.products-title {
    font-size: 30px;
    line-height: 36px;
    text-align: right;
    color: #4C2481;
    margin-top: 50px;
    margin-right: 25px;
}

.products-price {
    font-size: 25px;
    line-height: 30px;
    text-align: right;
    color: #717073;
    margin-right: 25px;
}

.add-in-cart_button {
    color: #4C2481;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #4C2481;
    box-sizing: border-box;
    border-radius: 15px;
    height: 44px;
    width: 180px;
    font-weight: normal;
    margin-top: 60px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}


.add-in-cart_button:hover {
    color: white;
    background: #4C2481;
}

/*стили картички продуктов конец*/


@media (max-width: 1100px) and (min-width: 768px) {
    .mini-cart__content {
        top: 22px;
    }

    .products_wrap {
        margin: 40px 10px 20px 10px;
    }

    .title-all-products {
        padding-left: 10px;
    }

    .subtitle-all-products {
        margin-top: -40px;
        position: absolute;
        right: 1%;
        width: 300px;
    }

    .products_wrap-info {
        height: 230px;
    }

    .products-title {
        font-size: 24px;
        margin-top: 50px;
    }

    .products-price {
        font-size: 20px;
    }

    .add-in-cart_button {
        margin-top: 25px;
        margin-right: 10px;
        width: 150px;
    }

    .cart-dropdown {
        width: 377px;
        right: 1%;
    }

    .cart-dropdown__bottom {
        padding: 10px;
    }
}

@media (max-width: 768px) {

    .subtitle-all-products {
        margin-top: -40px;
        position: absolute;
        right: 2%;
        height: 50px;
    }

    .subtitle-all-products input {
        height: 38px;
    }

    .title-all-products {
        padding-left: 20px;
        font-size: 24px;
    }

    .products_wrap {
        margin: 40px 10px 20px 10px;
    }

    .products_wrap-info {
        width: 100%;
    }

    .products_wrap-info {
        height: 350px;
    }

    .products-title {
        font-size: 36px;
        margin-top: 80px;
    }

    .products-price {
        font-size: 30px;
        margin-top: 10px;
    }

    .add-in-cart_button {
        width: 80%;
        height: 55px;
        border-radius: 25px;
        margin-top: 70px;
    }
}
